[Unit]
Description=Agents Secure Binding Log Forwarder
After=network.target
Before=agents-secure-binding-agent.service

[Service]
WorkingDirectory=/agents-secure-binding
StandardOutput=file:/var/log/agents-secure-binding/log-forwarder.stdout
StandardError=file:/var/log/agents-secure-binding/log-forwarder.stderr
EnvironmentFile=/etc/agents-secure-binding/environment
ExecStartPre=/agents-secure-binding-init/agent_setup.sh
ExecStart=/usr/bin/agents-secure-binding-log-forwarder
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
